.card{
  margin: 2rem auto;
  background-color: white;
  border-radius:0.5rem;
  max-width: 40rem;
}

.btn{
  background-color: #4f005f;
  color:white;
  padding:0.3rem 0.9rem;
  font-size:0.9rem;
  border: none;
  cursor:pointer;
}